.form-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-field {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    margin-top: 5vh;
}

.form-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.confirm-form-field {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    margin-top: 5vh;
}

.confirm-form-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
}
